@model WebApp.Models.RescueData

<h1 class="mt-4 mb-3">Details for @Model.Month</h1>

<table class="table table-bordered">
    <tr><th>General Ambulance</th><td>@Model.GeneralAmbulance</td></tr>
    <tr><th>ICU Ambulance</th><td>@Model.ICUAmbulance</td></tr>
    <tr><th>Transported</th><td>@Model.Transported</td></tr>
    <tr><th>Not Transported</th><td>@Model.NotTransported</td></tr>
</table>
