@model List<Cemetery>

<h2>台北市公墓列表</h2>

<div class="mb-3">
    <a asp-action="Upload" class="btn btn-primary">上傳資料</a>
    <a asp-action="GenerateReport" class="btn btn-info">產生報表</a>
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>分類</th>
            <th>行政區</th>
            <th>公墓名稱</th>
            <th>狀態</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FacilityClassification</td>
                <td>@item.District</td>
                <td>@item.FacilityName</td>
                <td>@item.Recent</td>
                <td>
                    <a asp-action="Details" asp-route-name="@item.FacilityName" class="btn btn-sm btn-info">詳細資料</a>
                </td>
            </tr>
        }
    </tbody>
</table>