@model CemeteryWeb.Models.RecheckCase

<h2>@Model.Year 年 @Model.Month 月 @Model.Hospital 詳細資料</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">年</dt>
            <dd class="col-sm-9">@Model.Year</dd>

            <dt class="col-sm-3">月</dt>
            <dd class="col-sm-9">@Model.Month</dd>

            <dt class="col-sm-3">複檢醫院</dt>
            <dd class="col-sm-9">@Model.Hospital</dd>

            <dt class="col-sm-3">公費人數</dt>
            <dd class="col-sm-9">@Model.PublicCount</dd>

            <dt class="col-sm-3">自費人數</dt>
            <dd class="col-sm-9">@Model.PrivateCount</dd>
        </dl>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary mt-3">返回列表</a>
