@model IEnumerable<WebApp.Models.RescueData>

<h1>Rescue Data</h1>

<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>General Ambulance</th>
            <th>ICU Ambulance</th>
            <th>Transported</th>
            <th>Not Transported</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Month</td>
                <td>@item.GeneralAmbulance</td>
                <td>@item.ICUAmbulance</td>
                <td>@item.Transported</td>
                <td>@item.NotTransported</td>
            </tr>
        }
    </tbody>
</table>
